In [1]:
import math
from shapely.geometry import Point
import folium
import pandas as pd
import geopandas as gpd
import requests
from tqdm import tqdm
from concurrent.futures import ThreadPoolExecutor, as_completed

In [2]:
API_KEY = "AIzaSyCickQ0r_fMNLepLhC3DQvmhRW8l-19k6k"

In [3]:
def get_panorama_id(lat,lon):
    # URLを作成してリクエストを送信
    url = f"https://maps.googleapis.com/maps/api/streetview/metadata?location={lat},{lon}&key={API_KEY}"

    response = requests.get(url)

    # レスポンスからpanoIDを取得
    data = response.json()
    if data["status"] == "OK":
        pano_id = data["pano_id"]
        return pano_id
    else:
        print(f"Error: {data['status']}")
        return None

In [4]:
def get_panorama_ids_multi_thread(points, max_workers=10):
    """
    points: (point_id, lat, lon) の形式で指定するポイントのリスト
    max_workers: 並列で実行するスレッド数（デフォルトは10）
    """
    pano_ids = []

    with ThreadPoolExecutor(max_workers=max_workers) as executor:
        # 各緯度・経度に対して非同期にリクエストを送信
        futures = {executor.submit(get_panorama_id, lat, lon): point_id for point_id, lat, lon in points}

        # 進捗バーを表示しながら結果を処理
        for future in tqdm(as_completed(futures), total=len(futures)):
            point_id = futures[future]
            try:
                pano_id = future.result()
                pano_ids.append((point_id, pano_id))
            except Exception as exc:
                print(f"Exception for point_id {point_id}: {exc}")
                pano_ids.append((point_id, None))

    return pano_ids

In [5]:
# pointsデータフレームからpoint_id, 緯度, 経度を抽出して処理
def extract_lat_lon_from_gdf(gdf):
    points = []
    for idx, row in gdf.iterrows():
        point_id = row["point_id"]
        lon, lat = row["geometry"].x, row["geometry"].y
        points.append((point_id, lat, lon))
    return points

In [6]:
# GeoDataFrameを読み込む
points = gpd.read_file("/workspace/app/Green-View-Index/tokuyama/points_tokuyama/tokuyama_points_200.shp")

# GeoDataFrameから緯度経度を抽出
points = extract_lat_lon_from_gdf(points)

In [7]:
# マルチスレッドでpano_idを取得
pano_ids = get_panorama_ids_multi_thread(points)
pano_ids_df = gpd.GeoDataFrame(pano_ids, columns=["point_id", "pano_id"])
pano_ids_df

  6%|▌         | 171/3102 [00:03<00:58, 49.99it/s]

Error: ZERO_RESULTS

 46%|████▌     | 1431/3102 [01:46<00:59, 27.90it/s]

Error: ZERO_RESULTS

 47%|████▋     | 1471/3102 [01:47<00:44, 36.34it/s]

Error: ZERO_RESULTS
Error: ZERO_RESULTS

 48%|████▊     | 1496/3102 [01:48<00:42, 37.64it/s]

Error: ZERO_RESULTS

 50%|█████     | 1551/3102 [01:49<00:38, 39.91it/s]

Error: ZERO_RESULTS

 51%|█████     | 1583/3102 [01:50<00:37, 40.66it/s]

Error: ZERO_RESULTS

 52%|█████▏    | 1614/3102 [01:51<00:39, 37.84it/s]

Error: ZERO_RESULTS

 54%|█████▍    | 1685/3102 [01:52<00:34, 40.98it/s]

Error: ZERO_RESULTS
Error: ZERO_RESULTS

 61%|██████    | 1895/3102 [01:58<00:31, 38.55it/s]

Error: ZERO_RESULTS

 70%|███████   | 2172/3102 [02:05<00:23, 38.82it/s]

Error: ZERO_RESULTS

 85%|████████▍ | 2623/3102 [03:10<00:38, 12.38it/s]

Error: ZERO_RESULTS

 91%|█████████ | 2808/3102 [03:26<00:10, 28.81it/s]

Error: ZERO_RESULTS

 93%|█████████▎| 2876/3102 [03:28<00:05, 42.28it/s]

Error: ZERO_RESULTS
Error: ZERO_RESULTS

 98%|█████████▊| 3025/3102 [03:31<00:01, 45.68it/s]

Error: ZERO_RESULTS

100%|██████████| 3102/3102 [03:33<00:00, 14.51it/s]

      point_id                                            pano_id
0            8                             g0JKf5tN8dMbjNVmRuFHHA
1            9                             CbmjHUdppIWjAhUbQh4IKQ
2            1                             a8X0yY4_yMifPVlFn5CE1A
3            4                             0kgNh2fw3ZDbnmiBfYazQA
4            7                             wEZ1PpN3_8pb_rD5B-w6bQ
...        ...                                                ...
3097      3099                             eiS4ZkykHTW9KVLaZRD0Iw
3098      3097                             KuLmY1V_6OB2kj99sD8vRg
3099      3100                             pXGbqWL3T5laGBcri3IhpA
3100      3101                             KQSCblXEAhWGKf5KXYaMqA
3101      3102  CAoSLEFGMVFpcE13MkhFZHRuU2p4bEpkVEpHenVQdXVSdT...

[3102 rows x 2 columns]

In [8]:
pano_ids_df.to_file("/workspace/app/Green-View-Index/tokuyama/pano_ids_tokuyama/pano_ids_200.shp")